.container {
  width: 75%;
  margin: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.title_text{
  font-size: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  color: var(--volite);
}

.header img {
  width: 30px;
  margin-bottom: 7px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.innerContent {
  padding: 40px;
  margin: auto;
}

.innerContent .categoryImg {
  width: 100%;
  margin: auto;
  /* background: #000; */
}

.cardContainer .name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 10px; */
}

.cardContainer .name p {
  font-size: 1.3rem;
}

.cardContainer .name img {
  margin-top: -12px;
}


@media(max-width:750px) {
  .container {
    width: 94%;
    gap: 20px;
  }

  .innerContent .categoryImg {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #000; */
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 10px;
  }
}

@media(max-width:550px) {
  
  .header h2 {
    font-size: 1.1rem;
  }
.cardContainer{
}
  .header img {
    width: 15px;
    margin-bottom: 5px;
  }

  .cardContainer .name p {
    font-size: 1.05rem;
  }

  .cardContainer .name {
    padding: 0 5px;
  }

  .cardContainer .name img {
    margin-top: -12px;
    width: 15px;
  }
}