.container {
  display: flex;
  /* justify-content: center; */
  /* margin-top: 50px; */
  /* height: 100vh; */
  /* gap: 60px; */

}

.sliders {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 358.13px;
  height: 312.71px;
  border: 1px;
  border-radius: 300px 30px 30px 30px;
  background: #fec1bd;
  border: 1px solid white;
}

.sliders .top-slider {
  /* position: relative; */
}

.sliders .top-slider .cookies-images {
  /* position: absolute; */
  display: flex;
}

.sliders .top-slider .cookies-info {
  display: flex;
  padding: 0 20px;
  /* position: relative; */
}

.cookies-info .price {
  position: absolute;
  bottom: 20px;
  gap: 10px;
  align-items: first baseline;
  display: flex;

}

.cookies-info .price p:nth-child(1) {
  font-size: 20px;
  /* color: gray; */
  opacity: 0.8;
  text-decoration: line-through;
}

.cookies-info .price p:nth-child(2) {
  font-size: 40px;
}

.cookies-images img:nth-child(1) {
  position: absolute;
  width: 350px;
  top: -40px;
  left: 0px;
  z-index: 1;
}

.cookies-info h2 {
  width: 200px;
  bottom: 70px;
  position: absolute;
  right: -10px;
  font-size: 30px;
}

.cookies-images img:nth-child(2) {
  position: absolute;
  width: 300px;
  top: -40px;
  right: -40px;
}

.bottom-slider {
  position: absolute;
  bottom: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  font-size: 18px;
  height: 40px;
  background: #fff;
  border-radius: 0 0 25px 25px;
}

.bottom-slider .count1 {
  display: flex;
  align-items: center;
  gap: 20px;

  padding-left: 20px;
  border-left: 1px solid black;
}

.item-cart1 {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: -5px;
  cursor: pointer;
  /* background: #fec1bd; */
}

.food-item-counter1 {
  display: flex;
  align-items: center;
  gap: 50px;
}

.food-item-counter1 img {
  width: 30px;
  cursor: pointer;
}

.cart-item-no1 {
  position: absolute;
  top: 50%;
  left: 50%;
  /* color: #fff; */
  font-size: 18px;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 750px) {
  .cookies-info h2 {

    bottom: 50px;

    font-size: 30px;
  }

  .cookies-info .price p:nth-child(2) {
    font-size: 30px;
  }

  .cookies-info .price p:nth-child(1) {
    font-size: 15px;
  }

  .cookies-info .price {

    bottom: 25px;
    gap: 5px;


  }
}

@media screen and (max-width: 500px) {

  .cookies-images img:nth-child(1) {
    position: absolute;
    width: 310px;
    top: -20px;
    left: 0px;
    z-index: 1;
  }

  .cookies-images img:nth-child(2) {
    position: absolute;
    width: 270px;
    top: -25px;
    right: -40px;
  }

  .cookies-info {
    width: 100%;
  }

  .cookies-info h2 {

    bottom: 50px;
    /* right: -85px; */
    font-size: 25px;
    width: 150px;
    margin-right: 45px;
  }

  .cookies-info .price p:nth-child(2) {
    font-size: 25px;
  }

  .cookies-info .price p:nth-child(1) {
    font-size: 14px;
  }

  .cookies-info .price {

    bottom: 25px;
    gap: 5px;


  }

  .sliders {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 388.13px;
    height: 312.71px;
    border: 1px;
    border-radius: 300px 30px 30px 30px;
    background: #fec1bd;
    border: 1px solid white;
  }
}