.top_parent_div_all_product {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding-top: 10vh;
  /* background: white; */
}

.main_all_product_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  padding: 50px 50px;
}

/* product */
.product_div_all_product_parent {
  border: 1px solid #D73A38;
  border-radius: 30px;
  padding: 10px;
  background: #f2d6cc;
  transition: all 0.5s ease;
  position: relative;
}

.product_div_all_product {


  margin-top: -50px;
  width: 220px;
  /* height: 110%; */
  height: 400px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
  border: 2px dashed var(--golden-color);
  border-radius: 30px;
}

.all_product_product_thumbnail {
  width: 95%;
  margin-top: -20px;
}

.product_name_and_price {
  display: flex;
  width: 100%;
  font-size: 18px;
  gap: 2px;
  justify-content: space-between;
  position: absolute;
  bottom: 90px;
  padding: 0 10px;
  padding-left: 30px;
  flex-direction: column;
  /* padding: 5px 15px; */
}

.Add_to_cart_and_watchlist_button {
  /* margin-top: 15px; */
  /* position: absolute; */
  bottom: 20px;
  display: flex;
  align-items: center;
  /* gap: 10px; */
  justify-content: space-between;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px 10px;
}

.Add_to_cart_and_watchlist_child1 {
  /* position: absolute; */
  /* padding-top: 150px; */
}

/* cart */
.cart-quantity,
.Add_to_cart_button {
  display: flex;
  position: absolute;
  height: 20px;
  border: 2px solid #D73A38;
  height: 40px;
  padding: 5px 20px;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  transform: translateX(-50%);
}

.cart-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
}

.cart-quantity img {
  width: 35px;
  padding: 2px;
}

.Add_to_cart_button {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-quantity span {
  margin: 0 10px;
}

.Icon_add_to_cart {
  cursor: pointer;
  width: 100%;
}

/* pagination */
.pagination {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hori_loading {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50px, -50px);
}

.pagination button {
  margin: 10px;
  padding: 14px 25px;
  /* background-color: #f0f0f0; */
  background: var(--golden-color);
  color: var(--navy-blue-color);
  border: 1px solid #000;
  cursor: pointer;
}

.pagination .active {
  background: #FEA59F;
  color: #fff;
  border: 2px solid #fff;
}

.pagination button:hover {
  background-color: #ccc;
}

/* wishlist */

.watchlist-icon {
  font-size: 34px;
  color: #000000;
  cursor: pointer;
  transition: color 0.3s ease;
}

.watchlist-icon.wishlist-active {
  color: red;
}

/* loading */

/* all product loader */
.All_Product_loader {

  display: flex;
  align-items: center;
  justify-content: center;
  place-items: "center";
}

/* whitelist */
.heart_loader_all_product {
  /* width: 10px; */
  position: absolute;
  top: 11px;
  right: 14px;
}

/* Adjust the CSS for the wishlist icon */
/* .Add_to_cart_and_watchlist_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px 10px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

.watchlist-icon {
  font-size: 34px;
  color: #000000;
  cursor: pointer;
  transition: color 0.3s ease;
  position: absolute;
  top: 10px;
  right: 10px;
}

.watchlist-icon.wishlist-active {
  color: red;
} */


.all_product_price span {
  font-size: 14px;
  opacity: 0.8;
  text-decoration: line-through;
}

.no-products-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 30px;
}

@media (max-width: 1480px) {
  .main_all_product_div {
    padding: 20px 20px;
    gap: 6px;
  }

  .product_div_all_product_parent {
    margin: 10px 0px;
  }
}

@media (max-width: 1050px) {
  .main_all_product_div {
    padding: 20px 20px;
    gap: 10px;
  }

  /* product */
  .product_div_all_product_parent {
    padding: 7px;
    margin: 10px 0px;
  }

  .product_div_all_product {
    /* width: 190px; */
    /* height: 100%; */
    height: 360px;
    padding: 10px 5px 20px 5px;
  }

  .all_product_product_thumbnail {
    width: 90%;
  }

  .product_name_and_price {
    /* display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 10px; */
    display: flex;
    width: 100%;
    font-size: 18px;
    gap: 10px;
    justify-content: space-between;
    position: absolute;
    bottom: 75px;
    padding: 0 10px;
  }

  .Add_to_cart_and_watchlist_button {
    gap: 6px;
  }

  .cart-quantity span {
    margin: 0 10px;
  }

  .Icon_add_to_cart {
    cursor: pointer;
    width: 100%;
  }

  /* pagination */
  .pagination {
    margin: 20px;
  }

  .pagination button {
    margin: 10px;
    padding: 14px 25px;
  }

  /* wishlist */

  .watchlist-icon {
    font-size: 30px;
    color: #000000;
    cursor: pointer;
    transition: color 0.3s ease;
  }
}

@media (max-width: 800px) {
  .main_all_product_div {
    padding: 20px 20px;
    gap: 10px;
  }

  /* product */
  .product_div_all_product_parent {
    padding: 7px;
    margin: 10px 0px;
  }

  .product_div_all_product {
    /* width: 190px; */
    /* height: 100%; */
    height: 360px;

    padding: 10px 5px 20px 5px;
  }

  .all_product_product_thumbnail {
    width: 90%;
  }

  .product_name_and_price {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 10px;
  }

  .Add_to_cart_and_watchlist_button {
    gap: 6px;
  }

  .cart-quantity span {
    margin: 0 10px;
  }

  .Icon_add_to_cart {
    cursor: pointer;
    width: 100%;
  }

  /* pagination */
  .pagination {
    margin: 20px;
  }

  .pagination button {
    margin: 10px;
    padding: 14px 25px;
  }

  /* wishlist */

  .watchlist-icon {
    font-size: 30px;
  }
}


@media (max-width:500px) {
  .top_parent_div_all_product {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding-top: 3vh;
  }

  .product_name_and_price {
    display: flex;
    width: 100%;
    font-size: 16px;
    gap: 0px;
    justify-content: space-between;
    position: absolute;
    bottom: 75px;
    /* margin-top: 0px; */
    padding: 0 10px;
    padding-left: 20px;
    flex-direction: column;
    /* padding: 5px 15px; */
  }

  .my_wishlist_mobile_view {
    display: none;
  }

  .main_all_product_div {
    padding: 20px 0px;
    gap: 1px;
  }

  /* product */
  .product_div_all_product_parent {
    padding: 7px;
    margin: 10px 0px;
    width: 45%;
  }

  .product_div_all_product {
    width: 100%;
    /* height: 100%; */
    height: 300px;
    padding: 10px 5px 20px 5px;
  }

  .all_product_product_thumbnail {
    width: 90%;
    /* margin-top: 10px; */
  }

  .product_name_and_price {}

  .Add_to_cart_and_watchlist_button {
    gap: 6px;
  }

  .cart-quantity span {
    margin: 0 10px;
  }

  .Icon_add_to_cart {
    cursor: pointer;
    width: 100%;
  }

  /* pagination */
  .pagination {
    margin: 20px;
  }

  .pagination button {
    margin: 10px;
    padding: 8px 14px;
  }

  /* wishlist */

  .watchlist-icon {
    font-size: 30px;
  }

  .cart-quantity img {
    width: 35px;
    padding: 2px;
  }

  .Add_to_cart_button {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}


@media (max-width:400px) {
  .all_product_product_thumbnail {
    width: 90%;
    margin-top: 10px;
  }
}

.mainContainer {
  position: relative;
}

.All_Product_loader {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

}