.categoryItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  gap: 40px;
}

.subcategoryIcon {
  color: #666;
  font-size: 1.2rem;
  transition: transform 0.2s ease;
}
.normalIcon{
  transform: rotate(90deg);

}
.rotateIcon {
  transform: rotate(275deg);

}



.subcategories {
  padding-left: 15px;
  margin-top: 5px;
}

.activeCategory {
  /* Your existing active category styles */
}

.activeSubcategory {
  /* Your existing active subcategory styles */
}


.categories div {
  display: flex;
  flex-direction: column;
}

.categories div p {
  margin-top: -8px;
  text-transform: uppercase;
  cursor: pointer;
}

.activeCategory {
  color: #D73A38;
}

/* PriceFilter.module.css */

.priceFilterOptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* Space between each filter option */
  margin-bottom: 20px;
  /* Space below the filter options */
}

.priceFilterOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  /* Pointer cursor on hover */
}

.priceFilterOption input[type="radio"] {
  margin-right: 10px;
  /* Space between radio button and label */
  cursor: pointer;
  /* Pointer cursor on the radio button */
}

.priceFilterOption label {
  font-size: 17px;
  /* Adjust the font size */
  cursor: pointer;
  /* Pointer cursor on the label */
  color: #333;

  /* Darker color for better readability */
}

/* Style for the active (checked) state */
.priceFilterOption input[type="radio"]:checked+label {
  font-weight: bold;
  /* Highlight selected option */
  color: #D73A38;
  /* Use a distinct color for the active option */
}

.allproducts {
  width: 100%;
}


.subcategories {
  margin-left: 20px;
}

.activeSubcategory {
  font-weight: bold;
  /* color: #your-accent-color; */
}

.sidebar_hr {
  border: 1px solid #D73A38;
}

