.order-details-container {
  padding: 50px;
}
.order_details_main_section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  font-size: 20px;
}

/* cards */
.order_details_cards {
  padding: 50px;
  width: 400px;
  background: var(--gay-bg-color);
  border-radius: 20px;
}
.user_section {
}
.order_item_section {
}
.order_shipping_address_section {
}

.user-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.product-thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 20px;
}

/* dashboard */
.main_mini_order_dashboard_div {
  display: flex;
  justify-content: space-around;
}
.mini_order_dashboard_contact_div {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 20px;
  background: #86df7e;
  border-radius: 10px;
  color: black;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
