.wishlist-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  place-items: center;
  margin-top: 30px;
  gap: 30px;
  row-gap: 80px;
  justify-content: center;
  padding: 50px 30px;

}

.wishlist-item-card {
  width: 270px;
}

.wishlistAddToCart {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 100%;
  gap: 0px;
  margin: auto;
}

.wishListAddToCart {
  margin: auto;
}

.item-cart span {
  position: relative;
}

.item-cart {}

.add_to_cart_button2 {
  margin: auto;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.watchilist_add_to_cart_Loader {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wishlistAddToCart {
  margin: auto;
  justify-content: center;
  gap: 15px;
}

.wishlistAddToCart img {
  width: 28px;
  height: 28px;
  margin: auto;
  cursor: pointer;
}

@media(max-width:800px) {
  .wishlist-item-card {
    width: 260px;

  }
}

@media(max-width:500px) {
  .wishlist-item-card {
    width: 250px;
  }
}