.footer {
  width: 100%;
  display: flex;
  /* align-items: center; */
  gap: 30px;
  padding: 30px;
  font-family: 'Bodoni-bk';
  justify-content: space-between;
  margin-top: 50px;
}

.logos img {
  width: 100%;
  min-width: 150px;
}

/* =====links======= */
.links {
  background: #EE5564;
  color: #fff;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 80px;
  justify-content: space-between;
  border-radius: 20px;
}

.links .social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.links nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.links nav a {
  text-wrap: nowrap;
  text-align: end;
  font-size: 1.5rem;
}

.social img {
  width: 50px;
}

/* =======contact======== */

.contact {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 15px;
}

.contact a {
  font-size: 1.3rem;
}

/* ===addresses========== */
.addresses {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}

.addresses address {
  font-size: 1.3rem;
  line-height: 1.3;
}

.addresses h2 {
  font-size: 4.5vw;
  color: #EE5564;
  cursor: pointer;
}


/* ===========copyright=========== */

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 30px;
  font-size: 1.2rem;
  text-align: center;
}

.copyright p:first-child {
  line-height: normal;
}

.copyright a {
  text-decoration: underline;
}

@media(max-width:1200px) {
  .footer {
    gap: 20px;
    padding: 30px 15px;

  }
}


@media(max-width:1100px) {
  .footer {
    gap: 20px;
    padding: 30px 15px;

  }

  .logos {
    display: none;
  }

  .links {
    padding: 20px;
    gap: 40px;
  }

  .links .social {
    gap: 30px;
  }

  .links nav {
    gap: 10px;
  }

  .links nav a {

    font-size: 1.3rem;
  }

  .social img {
    width: 40px;
  }

  .contact a {
    font-size: 1.2rem;
  }

  .addresses address {
    font-size: 1.2rem;
    line-height: 1.3;
  }

  .addresses h2 {
    font-size: 4vw;
    color: #EE5564;
    cursor: pointer;
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    font-size: 1rem;
  }
}

@media(max-width:800px) {
  .footer {
    flex-direction: column;
    gap: 30px;
  }

  .logos {
    display: block;
    margin: auto;
  }

  .logos img {
    width: 200px;
    padding: 0;
  }

  .links {
    margin-top: -50px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    line-height: 0.7;
    width: 100%;
    padding: 0 20px;
    font-size: 1rem;
  }


}


@media(max-width:500px) {
  .footer {
    flex-direction: column;
    gap: 20px;
    margin-top: 0;
  }

  .logos {
    display: block;
    margin: auto;
  }

  .logos img {
    width: 200px;
    padding: 0;
  }

  .links {
    margin-top: -50px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
  }

  .addresses h2 {
    font-size: 12vw;
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    line-height: 0.7;
    width: 100%;
    padding: 0 20px;
    font-size: 0.95rem;
  }
}