.my-shipping-belling-address {
  padding-top: 20vh;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background: #EFE2D7;
  gap: 20px;
}
.back_button_add_order_page{
  position: absolute;
  left: 30px;
  top: 100px; 
}
.back_button_add_order_page svg{
  height: 30px;
}

.address-form {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.address-form h2 {
  font-family: Kumbh Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 44.65px;
  text-align: left;
  color: #AE7B37;
}

.address-form input {
  font-size: 17px;
  height: 40px;
  border: none;
  border: 2px solid #E5087E;
  background: transparent;
  border-radius: 4px;
  padding: 12px;
  outline: 0;
}

.shipping-header {
  display: flex;
  justify-content: space-between;
}

.shipping-header button {
  border: 0;
  outline: 0;
  background: #E5087E;
  height: 30px;
  padding: 5px 15px;
  color: #fff;
  font-size: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.my-shipping-address {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.my-billing-address {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.same-add-checkbox {
  display: flex;
  gap: 0;
  margin-top: -15px;
}

.same-add-checkbox p {
  margin-left: 0px;
}

.my-shipping-address div, .my-billing-address div {
  display: flex;
  gap: 10px;
}

.edit-address-btn {
  font-size: 20px;
  padding: 10px;
  background: #E5087E;
  border: 0;
  outline: 0;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  margin: 30px auto;
  cursor: pointer;
  margin-top: 40px;
}



@media(max-width:500px) {
  .my-shipping-address {
    width: 100%;
    padding: 0 20px;
  }

  .my-shipping-address input {
    width: 100%;
    /* margin: 20px; */
    /* display: none; */
  }
  .back_button_add_order_page{
    position: absolute;
    left: 5px;
    top: 75px;
  }
  .back_button_add_order_page svg{
    height: 24px;
  }
}