
.homeproduct_top_heading_div_for_Savory {
  display: flex;
  justify-content: space-between;
}
.homeproduct_top_heading_div_arrow {
  width: 30px;
}
.homeproduct_top_heading_div_viewall {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: #a95800;
  font-weight: 500;
}

.homeproduct_container_main_div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

.homeproduct_product_main_div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 85%;
  gap: 10px;
  padding: 5px;
}

.homeproduct_top_heading_div {
  width: 85%;
  font-size: 30px;
  font-weight: 600;
  color: #a95800;
}

.homeproduct_product_sub_div {
  width: 24%;
  background: white;
  padding: 10px 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 12px 27px 0px #0000001a;
}
.homeproduct_product_sub_div_for_all_prodcut {
  width: 100%;
  background: white;
  padding: 10px 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 12px 27px 0px #0000001a;
}

.homeproduct_product_div_image {
  width: 100%;
  border-radius: 15px;
  /* background: #f1f0f5; */
  overflow: hidden;
}

.homeproduct_product_div_image img {
  width: 100%;
  max-height: 253px;
  
  min-height: 253px;
  object-fit: contain;
}

.homeproduct_product_div_details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 4px;
}

.homeproduct_product_div_addtocart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0px;
}
.plus_button_all_product{
  height: 30px;
  width: 30px;
}

.homeproduct_product_div_addtocart_Add_button {
  border: 1px solid black;
  padding: 3px 15px;
  cursor: pointer;
  color: black;
  font-weight: 400;
  border-radius: 5px;
  display: flex;
}

.bold_details_homeproduct {
  font-weight: 500;
  font-size: 18px;
  color: black;
}

.Rs_text_homeproduct {
  font-size: 18px;
}

.original_text_homeproduct {
  color: rgba(0, 0, 0, 0.708);
  font-size: 13px;
  text-decoration: line-through;
}

.price_text_homeproduct {
  color: black;
  font-size: 20px;
  font-weight: 600;
}
.homeproduct_product_div_details_category {
  font-size: 13px;
}

.discount_text_homeproduct {
  color: red;
  font-size: 13px;
  font-weight: 500;
}

.homeproduct_addtocart_and_quantity_div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.homeproduct_addtocart_and_quantity_div div {
  width: 100%;
}

.loader_for_home_page {
  width: 20px !important;
  height: 20px !important;
  border: 4px solid black;
  border-bottom-color: transparent;
  border-radius: 100%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Responsive styles */
@media (max-width: 1200px) {
  .homeproduct_product_sub_div {
    width: 28%;
  }
}

@media (max-width: 992px) {
  .homeproduct_product_main_div {
    width: 90%;
  }
  .homeproduct_top_heading_div {
    width: 90%;
  }
  .homeproduct_product_sub_div {
    width: 45%;
  }
  .bold_details_homeproduct {
    font-size: 16px;
  }
  .price_text_homeproduct {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .homeproduct_product_main_div {
    gap: 20px;
  }
  .homeproduct_top_heading_div {
    font-size: 26px;
  }
  .homeproduct_product_sub_div {
    width: 45%;
    padding: 8px;
  }
  .homeproduct_product_sub_div_for_all_prodcut {
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 12px 27px 0px #0000001a;
  }
  .homeproduct_product_div_addtocart_Add_button {
    padding: 3px 12px;
  }
}

@media (max-width: 576px) {

  .homeproduct_product_div_image img { 
    max-height: 190px;
    min-height: 190px;
  }
  .plus_button_all_product{
    height: 27px;
    width: 27px;
  }

  .homeproduct_product_div_details_category {
    font-size: 9px;
  }
  .homeproduct_product_main_div {
    width: 95%;
    gap: 15px;
  }
  .homeproduct_top_heading_div {
    width: 95%;
    font-size: 22px;
  }
  .homeproduct_product_sub_div {
    width: 48%;
  }
  .bold_details_homeproduct {
    font-size: 12px;
  }
  .price_text_homeproduct {
    font-size: 16px;
  }
  .Rs_text_homeproduct {
    font-size: 16px;
  }
  .homeproduct_addtocart_and_quantity_div {
    gap: 5px;
  }
  .homeproduct_product_div_addtocart_Add_button {
    padding: 0px 14px;
  }
  .homeproduct_top_heading_div_viewall {
    font-size: 20px;
  }
  .homeproduct_top_heading_div_arrow{
    width: 20px;
  }

}

@media (max-width: 400px) {
  .homeproduct_product_main_div {
    gap: 10px;
  }
  .homeproduct_product_sub_div {
    width: 48%;
    padding: 5px;
  }
  .homeproduct_product_main_div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px !important;
    padding: 5px;
  }
  .plus_button_all_product{
    height: 25px;
    width: 25px;
  }
}

@media (max-width: 390px) {
  .homeproduct_addtocart_and_quantity_div {
    gap: 0px;
  }
  .plus_button_all_product{
    height: 22px;
    width: 22px;
  }
  .homeproduct_addtocart_and_quantity_div div {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .homeproduct_product_main_div {
    gap: 14px;
  }
  .homeproduct_top_heading_div {
    font-size: 20px;
  }
  .homeproduct_product_sub_div {
    width: 46%;
    padding: 8px;
  }
  .homeproduct_product_sub_div_for_all_prodcut {
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 12px 27px 0px #0000001a;
  }
  .homeproduct_product_div_addtocart_Add_button {
    padding: 3px 12px;
  }
  .homeproduct_product_sub_div_for_all_prodcut {
    width: 100%;
    background: white;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 12px 27px 0px #0000001a;
  }
}
