.marquee_container {
  display: flex;
  align-items: center;
  width: 100%;
}

.marquee_item {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.marquee_spacer {
  width: 300px; /* Adjust this value to control the gap between messages */
}

.marquee_item {
  font-size: 17px;
  font-family: 'Made medium', serif;
  color: #D73A38;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.marquee_item img {
  width: 15px;
  height: 15px;
}

@media (max-width: 600px) {
  .marquee_item {
    font-size: 15px;
    letter-spacing: 0px;
    gap: 7px;
  }
  
  .marquee_spacer {
    width: 50px; /* Smaller gap on mobile */
  }
}