.container {
  width: 85%;
  margin: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  color: var(--volite);
}

.header img {
  width: 30px;
  margin-bottom: 7px;
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 60px;
}

.productContent {
  background: #fff;
  width: 320px;
  height: 397px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
}

.productContent:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.productImage {
  width: 100%;
  height: 290px;
  overflow: hidden;
  background-color: #99999932;
}

.productImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.name {
  padding: 10px 0px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.name p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
}

.price {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

.productPrice {
  display: flex;
  align-items: baseline;
  font-size: 24px;
  font-weight: 400;
}


.productPrice span {
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}

.productPrice span:last-child {
  text-decoration: line-through;
  color: #999;
}

.add {
  display: flex;
  align-items: center;
}

.cartActions {
  display: flex;
  align-items: center;
}

.cartIncDec {
  display: flex;
  align-items: center;
}

.cartIncDec img {
  width: 28px;
  height: 28px;
  margin: 0 5px;
  cursor: pointer;
}

.cartIncDec p {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.loader {
  width: 25px;
  height: 25px;
  /* border: 4px solid var(--redPink); */
  border: 4px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


button {
  background: var(--redPink);
  border: 0;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .container {
      width: 96%;
      margin-top: 50px;
      gap: 15px;
  }

  .header h2 {
      font-size: 1.2rem;
  }

  .header img {
      width: 18px;
      margin-bottom: 5px;
  }

  .content {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 20px;
  }

  .productContent {
      width: 100%;
      height: auto;
      padding: 10px;
  }

  .productImage {
      height: 180px;
  }

  .productImage img {
      height: 90%;
      width: 90%;
  }

  .name {
      padding: 8px;
      font-size: 14px;
  }

  .cardFooter {
      padding: 8px;
      flex-direction: column;
      align-items: center;
  }

  .price {
      font-size: 14px;
      margin-bottom: 8px;
  }

  .productPrice span {
      font-size: 14px;
  }

  .add {
      flex-direction: column;
      align-items: center;
  }

  .cartActions {
      flex-direction: column;
      align-items: center;
  }

  .cartIncDec {
      flex-direction: row;
      justify-content: center;
  }

  .cartIncDec img {
      width: 18px;
      height: 18px;
  }

  .loader {
      width: 30px;
      height: 30px;
      border-top: 3px solid #333;
  }

  button {
      padding: 8px 16px;
      font-size: 12px;
      width: 100%;
      margin-top: 10px;
  }
}

@media (max-width: 550px) {
  .productContent {
      height: 340px;
  }

  .productImage {
      height: 200px;
  }

  .productImage img {
      height: 100%;
      width: 100%;
  }

  .name {
      font-size: 14px;
  }

  .price {
      font-size: 16px;
  }

  .productPrice span {
      font-size: 18px;
  }

  .cartIncDec img {
      width: 70%;
      height: 70%;
  }

  .loader {
      width: 20px;
      height: 20px;
  }
}