.filter_dropdown_container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.filter-dropdown {
  position: absolute;
  background: white;
  padding: 20px 20px 70px 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  top: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 480px;
  overflow-y: scroll;
}

.filter-dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter-dropdown-header h3 {
  margin: 0;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;

}

.filter-dropdown-body {
  max-height: 400px;
  overflow-y: auto;

}

.filter-dropdown-body::-webkit-scrollbar {
  /* For Chrome, Safari, and Opera */
  display: none;
}

.filter-section {
  margin-bottom: 20px;
}

.filter-section h4 {
  margin-bottom: 10px;
}

.filter-category {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filter-category input {
  margin-right: 10px;
}

.price-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}

.filter-dropdown-footer {
  text-align: center;
}

.apply-button {
  background: var(--redPink);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.apply-button:hover {
  background: #ff4b61;
}

.filterSection2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter_ALL {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.filter-dropdown-body h4 {
  color: var(--redPink);
  border-bottom: 2px solid var(--redPink);

  width: 140px;
  padding-bottom: 2px;
}


/* Customize the range track */
.rc-slider .rc-slider-track {
  background-color: var(--redPink);

  /* Change to your desired color */
}

/* Customize the range rail (background) */
.rc-slider .rc-slider-rail {
  background-color: #e0e0e0;
  /* Change to your desired color */
}

/* Customize the handle (dot) */
.rc-slider .rc-slider-handle {
  border-color: #fea59f;
  /* Change to your desired color */
  background-color: #fea59f;
  opacity: 1;
  /* Change to your desired color */
}

/* Customize the handle (dot) when active */
.rc-slider .rc-slider-handle:active,
.rc-slider .rc-slider-handle:hover {}

.filter-subcategories {
  margin-left: 20px;
}

.filter-subcategory {
  gap: 5px;
  display: flex;
  align-items: center;
}