.footer-container {
  background: #EFE2D7;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer {
  /* height: 534px; */
  width: 100%;
  background: #EFE2D7;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  padding-top: 50px;
}

.left-footer {
  display: flex;
  align-items: center;
}

hr {
  border: none;
  outline: 0;
  background: white;
  border: 1px solid white;
}

.left-hr {
  margin-left: 10px;
}

.right-hr {
  margin-right: 10px;
}

.left-footer .pulji-footer-logo {
  width: 200px;
}

.left-footer .social-icons {
  display: flex;
  gap: 10px;
  margin-top: -40px;
}

.left-footer .social-icons img {
  width: 50px;
}

.middle-footer {
  width: 50%;
}

.middle-footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-family: Kumbh Sans;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #D73A38;
}

.right-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.right-footer div {
  display: flex;
  align-items: center;
  gap: 30px;
}

.right-footer div img {
  width: 35px;

}

.right-footer div ul {
  font-family: Kumbh Sans;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1em;
  /* text-align: left; */
  color: #D73A38;
  /* list-style: ; */
}

.palji-phoneno ul, .palji-mail ul {
  list-style: none;
}

.palji-location ul {
  /* width: 80%; */
  display: flex;
  flex-direction: column;
  gap: 5px;


}

.palji-phoneno, .palji-mail {
  display: flex;
  align-items: center;
}

.palji-phoneno ul {
  display: flex;
  gap: 25px;
}

.palji-phoneno ul, .palji-mail ul {
  margin-top: 5px;
}

.right-footer .palji-location {
  display: flex;
  align-items: start;
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  padding-bottom: 10px;
  font-family: Perpetua Titling MT;
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #D73A38;

}

@media screen and (max-width: 1200px) {
  .left-footer {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 950px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    font-size: 13px;
  }
}

@media screen and (max-width: 550px) {
  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

@media screen and (max-width: 475px) {
  .copyright p {
    text-align: center;

  }

  .right-footer div ul {
    font-size: 16px;
    line-height: 1.2;
  }

  .palji-phoneno ul {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

@media screen and (max-width: 350px) {
  .copyright p {
    text-align: center;
    font-size: 12px;
  }
}

.right-footer div ul {
  /* list-style: circle; */
}