.upper_images_main_div{
    display: flex;
    width: 100%;
    gap: 30px;
    padding: 20px;
}
.upper_images{
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    border-radius: 30px;
}
@media (max-width:500px) {
    .upper_images_main_div{
        gap: 5px;
        padding: 5px;
    }
}