.sort-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 500px auto;
    font-family: Arial, sans-serif;
    background-color: #c69191;
  }
  
  .sort-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 100px;
    background: #0000006d;
  }
  
  .arrow-svg {
    height: 200px;
    width: 60px;
    position: relative;
  }
  
  .arrow {
    stroke-width: 6;
    transition: opacity 0.3s, stroke 0.3s;
    background: #000;
  }
  
  .active {
    stroke: #0066cc;
    opacity: 1;
  }
  
  .inactive {
    stroke: #999;
    opacity: 0.5;
  }
  
  .dots {
    stroke-width: 6;
    fill: #000;
  }
  
  .sort-label {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  
  .divider {
    height: 200px;
    width: 1px;
    background-color: #ccc;
    margin: 0 20px;
  }